<footer class="footer">
  <small>
    <a href="http://http://0.0.0.0:3000">北京痣上信息科技有限公司</a>by
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>